body {
    /* Use a textured white background */
    background-color: #f5f5f5; 
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5)), linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0.5));
    background-size: 80px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    perspective: 1000px;
    margin-top: -175px; /* Move the container up by 20px */
}

.box {
    width: 350px; /* Increase the width of the box */
    height: 200px; /* Increase the height of the box */
    background: 
        linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 50%), /* Gloss effect */
        linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)); /* Add glass-like gradient to the background */
    border: none; /* Remove the border */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    position: relative;
    overflow: hidden; /* Hide overflow to prevent gloss effect from spilling out */
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:hover {
    transform: translateZ(30px);
}

.logo {
    width: 80px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add spacing between logo and text */
}

.text {
    font-family: 'Gill Sans', sans-serif; /* Modern font family */
    font-size: 33px; /* Adjust font size */
    font-weight: normal; /* Make the font bold */
    color: #333; /* Dark gray text color */
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
}
